@charset "utf-8";
html, body {
	margin:0;
	padding:0;	
}
body{
	display:flex;
	min-height: 100vh;
	flex-direction: column;
}

header{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-align: center;
	background-color: #92B9FF;
	margin: auto;
	width: 75%;
}
header h1{
	color: #003557;
	font-weight: bold;
	font-size: 50px;
  	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
}
header h2{
	color: #003557;
	font-size: 20px;
	margin-bottom: 20px;
}

.navBar{	
	display: inline-block;
	text-align: center;
	padding: 0px;
}
.navBar a{
	display: inline-block;
	padding: 15px 25px 15px 25px;
	width: 60px;
	text-decoration: none;
	color: #00032F;
	margin-right: -4px;
}
.navBar a:hover{
	background-color: #003557;
	color: white;
}
.current a{	
	background-color: #003557;
	color: white;
}
nav{	
  margin: auto;
  width: 440px;
  border: 3px solid #003557;
}


section{
	flex: 1;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
section p{
	width: 95%;
	margin: auto;
}
.summary p{
	padding-bottom: 15px;
}
#features table{
	margin-top: 10px;
	border-collapse: collapse;
}
#features td{
	border: 1px solid black;
	padding: 5px;
	max-width: 500px;
}
#features th{
	background-color:#CCEFFF;
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

.fullPic{
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.picDescription{
	margin-top: 15px;
	width: 500px;
}
.contact{
	margin-bottom: 50px;
}
.name{
	font-weight: bold;
}

footer{	
	text-align: center;	
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	padding-top: 25px;
	padding-bottom: 10px;
	background-color: #003557;
	color: white;
}
footer a{
	color: white;
}

@media only screen and (max-width: 960px) {
	section{width: 95%;}
	header{width: 100%;}
}
@media only screen and (max-width: 510px) {
	.fullPic{width: 100%}
	.picDescription{width: 100%}
	#features{width: 95%}
}
@media only screen and (max-width: 446px) {
	nav{width: 95%;}
}