@charset "utf-8";
/* CSS Document */
html, body {
	margin:0;
	padding:0;	
}
body{
	display:flex;
	min-height: 100vh;
	flex-direction: column;
}
#codeEntry{
	border: 3px solid black;   
    top: 50%;
    left: 50%;
	position: fixed;
    width: 400px;
    height: 300px;
    margin-top: -150px;
    margin-left: -200px;
	background-color: white;
}
#background{
	opacity: 65%;
	background-color: black;
	width: 100%;
	height: 100%;
}
#codeEntryOverlay{
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

header{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	background-color: #92B9FF;
	margin: auto;
	width: 100%;
	height: 112px;
}
header #seshaLogo{	
	position: absolute;
	margin-top: 33px;
	margin-left: 40px;
}

header h1{
	color: #003557;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}

.navBar{	
    border-color: #003557;
	border: solid;
	text-align: center;
	color: #00032F;
}

.navBar a{
	text-decoration: none;
	text-align: center;
}

.navBar a:hover{
    color: white;
}

.navBar:hover{
	color: white;
}
.current{	
	background-color: #003557;
	color: white;
}

.current a{
    color: white;
}
#selectorNav{	
  	border: 3px solid #003557;
}

#searchNav{
	font-size: 15px;
	font-family: Montserrat , sans-serif;
}

nav {
	background-color: #92B9FF;
}

main #bigContent{
	min-height: calc(100vh - 244px);
	flex: 1;
	display: inline-block;
	float: left;
	width: 75vw;
	max-width: 1040px; 
	margin-right: auto;
	margin-left: auto;
}

main{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	padding-left: 10vw;
}

main #bigContent a{
	text-decoration: none;
	color: black;
}
#bigContent h2{
	clear: both;
	width: 100%;
	float: none;
	text-align: center;
	font-size: 35px;
}
#bigContent h4{
	
		margin-top: 0px;
}
#bigContent img{
	float: left;
	width: 200px;
}
#bigContent .textInfo{	
	padding: 0px 0px 0px 10px;
	float: left;
	width: 300px;
	height: 113px;
}
#bigContent .coursePreview{
	float:left;
	padding: 0px 10px 10px 0px;
}
#bigContent .description{
	font-size: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
   	display: -webkit-box;
   	-webkit-line-clamp: 2; /* number of lines to show */
   	-webkit-box-orient: vertical;
}
#bigContent .categoryExpander{
	clear: both;
	width: 100%; 
	border-top: 2px solid black;
  	height: 50px;
	margin-top: 20px;
}
#bigContent .triangle{
	width: 175px;
}

aside{
	display: flex;
	float: left;
}
aside .categoryList{
	width: 175px;
}
aside .elementCategory{
	margin-left:  10px;
}
aside .categoryDivider{
	width: 2px;
	background-color: black;
	height: calc(100vh - 264px);
	margin: 10px 5vw 10px 5vw;
}


footer{	
	text-align: center;	
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	background-color: #003557;
	color: white;
}
footer a{
	color: white;
}

@media only screen and (max-width: 1542px) {
	main #bigContent{width: 95vw; padding: 0px; margin: 0px 2.5vw 0px 2.5vw;}
}
@media only screen and (max-width: 1455px) {
	aside .categoryDivider{
		width: 0px;
		background-color: none;
		height: 0px;
		margin: 0px;
	}
	#bigContent h2{
	font-size: 45px;
}
	main #bigContent .thumb{
		min-width: 215px;
		width: 18vw;
	} 
	main #bigContent .description{
		font-size: 20px;
	}
	main #bigContent h4{
		font-size: 25px;
		margin-top: 0px;
	}
	main #bigContent .textInfo{
		width: calc(29.5vw - 40px);
	}
	main #bigContent{
		max-width: none;
	}
	aside .categoryList{
		margin-left: 2.5vw;
		font-size: 25px;
		width: 100%;
	}
	aside .elementCategory{
		margin-bottom: 10px;
	}
	nav{
		width: 556px;
		margin: auto;
	}
	#selectorNav{
		margin: auto;
	}
	#searchNav{
		margin-top: 10px;
		margin-left: 20px;
		width: 274px;
	}
	#textBox{
		font-size: 20px;
	}
}
@media only screen and (max-width: 1083px) {
	main #bigContent .thumb{
		width: 30vw;
	} 
	main #bigContent .textInfo{
		width: calc(65vw - 20px);
	}
}
@media only screen and (max-width: 760px) {
	main #bigContent .textInfo{
		width: 100%;
	}
	
}

@media only screen and (max-width: 556px) {
	#bigContent h2{	font-size: 35px;}
	#selectorNav{width: 330px;}
	nav{width: 330px;}
}
@media only screen and (max-width: 406px){
	#codeEntry{width: 95%;left:0;  margin-left: auto;margin-right: auto;}
}

@media only screen and (max-width: 364px) {
	
	#selectorNav{
		width: 110px;
	}
	nav{
		width: 100vw;
	}
}
